/* collor: #2196F3 - logo and all hover/focus elements
color: #757575  - цвет основого текста
color: #212121 - цвет вторичного текста
color: #FFFFFF - белый цвет (фон и текст)
color: #F5F4FA - вторичный цвет фона
color: rgba(255, 255, 255, 0.6) - цвет текста в футтере
*/

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Logo header*/

.logo {
  font-family: Raleway, sans-serif;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Container */
.container {
  margin: 0 auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* Site navigation */

.site-nav a {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* Section */
.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Advantages */

.advantages-list .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list .text {
  line-height: 1.71;
}

/* What we do */

.we-do .title {
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Our team */

.team .worker {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */
footer {
  color: var(--primary-white-color);
}

.footer-logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.developed-by {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.71;
}

/* Buttons */
.button {
  display: inline-block;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  text-decoration: none;
  padding: 10px 32px;
  min-width: 200px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero > .button.primary {
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
