:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/* Filter buttons */

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
}

.filter-button:focus,
.filter-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Our portfolio */

.our-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.our-portfolio .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.our-portfolio > .item:nth-child(3n) {
  margin-right: 0;
}

.our-portfolio > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.our-portfolio .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.our-portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.our-portfolio .description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  margin: 0;
  margin-left: 24px;
}

.our-portfolio .text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 20px;
}
